{% include './header.html' %}
<body>

<div class="container">
    <div class="row pt-3">
        <div class="col-4">
            <form method="POST">{% csrf_token %}
                <div class="form-group">
                    <label for="carSelect">Please select the car</label>
                    <select class="form-control" id="carSelect" name="car">
                        {% for car in cars %}
                            <option value="{{ car.id }}">{{ car.car_make }} - {{ car.car_model }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="startDate">From (example: 2018-09-11 21:00:00)</label>
                    <input type="text" name="start_date" class="form-control" id="startDate" placeholder="2018-09-11 21:00:00">
                </div>
                <div class="form-group">
                    <label for="endDate">To (example: 2018-09-11 21:00:00)</label>
                    <input type="text" name="end_date" class="form-control" id="endDate" placeholder="2018-09-11 21:00:00">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/logout/" class="btn btn-danger">Logout</a>
            </form>
        </div>

        <div class="col-8">
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Make</th>
                    <th scope="col">Model</th>
                    <th scope="col">Reg</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">User</th>
                </tr>
                </thead>
                <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.id }}</td>
                        <td>{{ booking.car.car_make }}</td>
                        <td>{{ booking.car.car_model }}</td>
                        <td>{{ booking.car.car_registration }}</td>
                        <td>{{ booking.start_date }}</td>
                        <td>{{ booking.end_date }}</td>
                        <td>{{ booking.user.username }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
{% include './footer.html' %}